---
- name: Login to Docker Hub
  docker_login:
    username: "{{ dockerhub_username }}"
    password: "{{ dockerhub_password }}"
  no_log: true

- name: Pull Docker image
  docker_image:
    name: "{{ docker_image }}:{{ docker_image_tag }}"
    source: pull

- name: Stop existing container
  docker_container:
    name: "{{ app_container_name }}"
    state: stopped
  ignore_errors: yes

- name: Remove old container
  docker_container:
    name: "{{ app_container_name }}"
    state: absent
  ignore_errors: yes

- name: Run new container
  docker_container:
    name: "{{ app_container_name }}"
    image: "{{ docker_image }}:{{ docker_image_tag }}"
    state: started
    restart: yes
    ports:
      - "{{ app_port }}:{{ app_port }}"
    restart_policy: unless-stopped

- name: Wait for application to be ready
  wait_for:
    host: localhost
    port: "{{ app_port }}"
    delay: 5
    timeout: 60

- name: Verify health endpoint
  uri:
    url: "http://localhost:{{ app_port }}/health"
    method: GET
    status_code: 200
  retries: 5
  delay: 2
